:root {
  --bg: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: black;
  z-index: 1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #eeeeee;
  width: 720px;
  margin: auto;
  border: 2px black solid;
  background-image: url(/OC1Y8T0.jpg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cv {
  background-color: goldenrod;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid black;
  position: relative;
}

.cv .ig {
  position: absolute;
  top: 10px;
  left: 10px;
}

.personal .title {
  background-color: rgb(189, 205, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.personal .title h2 {
  margin-left: 30px;
}

.personal {
  background-color: rgb(255, 255, 255);
  list-style: none;
  margin: auto;
  height: 190px;
  position: relative;
}

.personal img {
  width: 170px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.personal li {
  margin-left: 30px;
  margin-top: 10px;
}
/* ======================================== */
.juduldidik {
  background-color: rgb(189, 205, 255);
}

.juduldidik h2 {
  margin-left: 30px;
}

.didik {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.didik .sd {
  text-align: center;
  margin-left: 30px;
}

.didik .smp {
  text-align: center;
}

.didik .sma {
  margin-right: 30px;
  text-align: center;
}

/* ======================================= */
.judulpengalaman {
  background-color: rgb(189, 205, 255);
}

.judulpengalaman h2 {
  margin-left: 30px;
}
.pengalaman {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.pengalaman .rri {
  text-align: center;
  padding: 10px;
}

.pengalaman .fix {
  text-align: center;
  padding: 10px;
}

.pengalaman .osis {
  text-align: center;
  padding: 10px;
}

/* ======================== */

.judulpres {
  background-color: rgb(189, 205, 255);
}

.judulpres h2 {
  margin-left: 30px;
}

.prestasi {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 2px solid black;
}

.prestasi .orasi {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.prestasi .rank {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.bawah {
  background-color: #eeeeee;
  height: 43px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
